:root {
  --background-color: orange;
  --text-color: #ffffff;
  --header-font: "Bungee Shade", cursive;

  --content-font: "Caveat Brush", cursive;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100%;
  width: 100%;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  background-image: url("/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: bottom;
}

html,
body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-size: 60px;
  font-weight: normal;
  color: orange;
  font-family: var(--header-font);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}

.header h2 {
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
  font-family: 'Reem Kufi', sans-serif;
  text-align: center;
  margin: 0;
  word-spacing: 8px;

}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("/backgroundPhone.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: bottom;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.image-container img {
  width: 300px;
  height: 300px;
}

.image-container p {
  font-size: 30px;
  font-weight: normal;
  color: var(--text-color);
  font-family: var(--content-font);
  text-align: center;
  margin: 0;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.image-container p {
  font-size: 30px;
  font-weight: normal;
  color: var(--text-color);
  font-family: var(--content-font);
  text-align: center;
  margin: 0;
}

p {
  margin: 5px;
}

.topLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.emoji-link,
.logo-link {
  font-size: 40px;
  text-decoration: none;
  margin: 10px 10px 0 10px;
}

.title-link {
  text-decoration: none;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

label {
  display: inline-block;
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 30px;
  font-family: "Caveat Brush", cursive;
  color: white;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  background-color: #f1f1f1;
  margin-bottom: 1rem;
  border-radius: 25px;
  font-size: 20px;
  font-family: 'Reem Kufi', sans-serif;
  text-align: center;
  word-spacing: 4px;

}

.formContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
 }

button {
  font-size: 20px;
  font-family: "Bungee Inline", cursive;
  color: white;
  background-color: darkorange;
  border-radius: 25px;
  border: white solid 2px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  padding-bottom: 50px;
}

#__next {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.finalMenu {
  font-size: 20px;
  font-family: 'Reem Kufi', sans-serif;
  word-spacing: 4px;
  background-color: white;
  border: darkorange solid 2px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  text-align: center
}

.finalMenuContainer {
  background-color: white;
  padding: 15px;
  margin: 15px 5px 15px 5px;
}

.finalMenu h2 {
  font-size: 34px;
  font-weight: normal;
  margin: 5px 0 5px 0;
  color: darkorange;
  font-family: 'Princess Sofia', cursive;
  
}

.enjoy {
  font-size: 30px;
  font-weight: normal;
  margin-top: 15px;
  color: darkorange;
  font-family: 'Princess Sofia', cursive;
}
.dish {
  color: darkorange;
  margin-top: 10px;
}

.finalMenu .line {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  border-bottom: 1px solid darkorange;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: darkorange;
  margin-top: 15px;
  color: white;
  padding: 10px;
  font-family: 'Reem Kufi', sans-serif;
  word-spacing: 4px;
  bottom: 0;
  width: 100%;

}

.footer a {
  text-decoration: none;
  color: white;
}

.aboutContent h1 {
  font-family: "Caveat Brush", cursive;
  color: white;
  margin: 20px ;
  font-size: 50px;
}

.aboutContent p {
  font-family: 'Reem Kufi', sans-serif;
  margin: 20px ;
  font-size: 20px;
  color: white;
  background-color: darkorange;
  word-spacing: 4px;
}

.makeMeal {
  text-decoration: none;
  font-size: 24px;
  font-family: "Caveat Brush", cursive;
  color: white;
  margin: 10px;
}

/* Desktop stuff */
@media (min-width: 768px) {
  .background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background-image: url("/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: bottom;
  }

  .header h1 {
    font-size: 90px;
  }

  .header h2 {
    font-size: 30px;
    word-spacing: 8px;

  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .image-container img {
    width: 400px;
    height: 400px;
  }

  .image-container p {
    font-size: 40px;
    font-weight: normal;
    color: var(--text-color);
    font-family: var(--content-font);
    text-align: center;
    margin: 0;
  }

  .image-container:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
  }

  .formContent {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .emoji-link:hover,
  .logo-link:hover {
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
  }

  button:hover {
    color: darkorange;
    background-color: white;
    border: darkorange solid 2px;
  }

  .finalMenuContainer {
    padding: 15px;
    margin: 0px 5px 15px 5px;
  }

  .footer a:hover {
    font-weight: bold;
    color: whitesmoke;
  }
  .makeMeal {
    font-size: 28px;
    margin-top: 20px;
  }
  .makeMeal:hover {
    color: darkorange;
    background-color: white;
    border-radius: 20px;
  }
}
